
body, html {
  height: 100%;
}

body {
  padding: 0; margin: 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 60px;
}

h2 {  
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
	font-size: 45px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
	font-size: 30px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

th, td {
  background-color: white;
  border: 1px white;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
  font-size: 18px;
  font-style: bold;
}

.main-content {
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    padding-left: 70px;

}

/* The banner image */
.banner-home {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/home_banner.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 120px;
}

.image-row {
  display: flex;
}

.image-column {
  flex: 33.33%;
  padding: 2%;
}

/* top imagy thing - the image itself*/
.image-card-left {
  position: relative;
}

.image-card-left img {
  height: 300px;
  width: 400px;
  object-fit: cover;
  object-position: right;
}

/* bottom imagy thing */
.image-card-right {
  position: relative;
  text-align: right;
}

.image-card-right img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

/* top imagy thing - the text background*/
.text-card-left {
    color: white;
    position: absolute;
    left: 20%;
    top: 20%;
    bottom: 20%;
    right: 5%;
    background-color: black;
    opacity: 0.7;
}

/* bottom imagy thing */
.text-card-right {
    color: white;
    position: absolute;
    left: 5%;
    top: 20%;
    bottom: 20%;
    right: 20%;
    background-color: black;
    opacity: 0.7;
}

/* top imagy thing - the text itself*/
.text-card-left p {    
  font-size: 4vw;
  padding-left: 40px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin-block-start: auto;
  margin-block-end: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* bottom imagy thing */
.text-card-right p {    
  font-size: 4vw;
  text-align: left;
  padding-left: 40px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin-block-start: auto;
  margin-block-end: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#overlay-left {  
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
  position: absolute; 
  width: 400px; 
  top: 0; 
  left: 0;
  bottom: 0;
}

#overlay-right {  
  position: absolute; /* Sit on top of the page content */
  width: 400px; /* Full width (cover the whole page) */
  top: 0; 
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3); /* Black background with opacity */
}


.footer {
  background-color: black;
}

.nav ul {
 list-style-type: none;
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

.nav li {
  display: inline;
  color: white;
}


.nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px;
  font-family: 'Raleway', sans-serif;
}

.nav a:hover {
  color: grey;
}

.footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 10%;
  text-align: center;
}










