
body, html {
  height: 100%;
}

body {
  padding: 0; margin: 0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 60px;
}

h2 {  
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
	font-size: 45px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
	font-size: 30px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

th, td {
  background-color: white;
  border: 1px white;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
  font-size: 18px;
  font-style: bold;
}

.main-content {
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    padding-left: 70px;

}

/* The banner image */
.banner-home {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/home_banner.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 120px;
}

.image-row {
  display: flex;
}

.image-column {
  flex: 33.33%;
  padding: 2%;
}

.image-card-left {
  position: relative;
}

.text-card-left {
    color: white;
    position: absolute;
    left: 20%;
    top: 20%;
    bottom: 20%;
    right: 5%;
    background-color: #AEB6BF;
}

.text-card-left p {    
  font-size: 5vw;
  padding-left: 40px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.image-card-right {
  position: relative;
  text-align: right;
}

.text-card-right {
    color: white;
    position: absolute;
    height: 60%;
    left: 5%;
    top: 20%;
    bottom: 20%;
    right: 20%;
    background-color: #AEB6BF;
}

.text-card-right p {    
  font-size: 5vw;
  text-align: left;
  padding-left: 40px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}



